*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #e3e6e6e5;
}
.card{
    height: 420px;
}
.card .img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.carousel-control-prev, .carousel-control-next{
    height: 350px;
}
.navlink:hover{
    border: 1px solid white;
}
.create{
    box-shadow: rgba(153, 160, 167, 0.2) 0px 8px 24px;
}
.create:hover{
    background-color: #edf3f3f5 !important;
}
footer{
    box-shadow: rgba(198, 206, 213, 0.644) 0px 3px 20px 0px inset;
}
.cross:hover{
    cursor: pointer;
}

  .backToTop{
    background-color: #37475A;
    transition: .2s;
  }
.backToTop:hover{
    background-color: #485b72;
}
 
@media (max-width:991px){
    .about-container{
        margin-top: -5rem;
    }
    .bar-1{
        max-width: 700;
    }
}
@media (min-width:992px){
    .bar-1{
        width: 700px;
    }
    .about-container{
        margin-top: -15rem;
    }
}