*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .carousel-item img{
    mask-image: linear-gradient(to bottom, #000000 50%, transparent 100%);
} */
.card{
    height: 420px;
}
.card .img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
}
.carousel-control-prev, .carousel-control-next{
    height: 350px;
}
.navlink:hover{
    border: 1px solid white;
}
.create{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.create:hover{
    background-color: #edf3f3 !important;
}
footer{
    box-shadow: rgba(198, 206, 213, 0.678) 0px 3px 20px 0px inset;
}
.cross:hover{
    cursor: pointer;
}







/* width */
.wrapper:hover::-webkit-scrollbar {
    height: 8px;
  }
  
  /* Track */
  .wrapper:hover::-webkit-scrollbar-track {
    background: white;  
  }
   
  /* Handle */
  .wrapper:hover::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77); 
    border-radius: 20px;
  }
  
  /* Handle on hover */
  .wrapper:hover::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 140, 140); 
  }
  .backToTop{
    background-color: #37475A;
    transition: .2s;
  }
.backToTop:hover{
    background-color: #485b72;
}



/* ############################### MEDIA QUERIES ########################### */






 
@media (max-width:991px){
    .about-container{
        margin-top: -5rem;
    }
    .bar-1{
        max-width: 700;
    }
}
@media (min-width:992px){
    .bar-1{
        width: 700px;
    }
    .about-container{
        margin-top: -15rem;
    }
}/*
@media (min-width:768px){
    .wrapper::-webkit-scrollbar{
        height: 0;
    }
}
@media (max-width:700px){
    .carousel-control-prev, .carousel-control-next{
        margin-top: -.05rem;
        height: 200px;
    }
 }
@media (max-width:685px){
    .ft-2{
        flex-direction: column;
    }
}
@media (max-width: 576px){
    .ft-1{
        text-align: center;
        padding: 0;
    }
}
@media (max-width:546px){
    .bar-2{
        overflow-x: scroll;
    }
}
@media (min-width:520px){
    .dropmenu{
        width: 500px !important;
    }
}
@media (max-width:460px){
    .ft-2-1{
        flex-direction: column; 
    }
}
@media (max-width:450px){
    .bar-2{
        font-size: .6rem;
    }
    .bar-2 button{
        font-size: .6rem;
    }
    .bar-2 img{
        width: 15px;
    }
    .carousel-control-prev, .carousel-control-next{
        margin-top: .5rem;
        height: 100px;
    }
    .offcanvas-body h5{
        font-size: .8rem;
    }
    .offcanvas-body a{
        font-size: .7rem !important;
    }
}  */