* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

/* body{
    background-image: url(./81wvNQveCoL._SX679_.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
} */

.navbar {
    /* border: 2px solid red; */
    display: flex;
    margin-top: 10px;
    height: 40px;
    background-color: rgba(106, 99, 168, 0.788);


}

.header {
    width: 30%;
    /* border: 2px solid green; */
    margin: 5px 0px 5px 10px;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 5%;
    color: rgb(0, 0, 0);
}

.navlist {
    /* border: 2px solid yellow; */
    width: 70%;


}

.navlist ul {
    /* border: 2px solid grey; */
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 9px;


}

.navlist ul li {
    /* border: 2px solid red; */
    font-size: 20px;
    font-weight: 100;
    list-style-type: none;
    margin: auto;
    text-decoration: none;
}

.navlist a {
    text-decoration: none;
    color: rgb(238, 238, 238);
}

.dropdown{
    position: relative;
    display: inline-block;
}
.dropbtn{
    color:rgb(238, 238, 238);
    cursor: pointer;
}

.droplist{
    /* margin-top: 7px; */
    position: absolute;
    display: none;
    width: 130px;
    background-color: rgb(212, 212, 212);
    z-index: 1;

}
.droplist a{
    color: black;
    display: block;
    text-decoration: none;
    text-transform: capitalize;
    margin: 5px;
    padding: 3px;
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

.dropdown:hover .droplist{
    display: block;
    box-shadow: 0px 7px 16px 0px rgb(173, 172, 172);
}

.test{
    background-color: red;
    text-align: center;
    width: 30%;
    height: 90px;
    display: inline-block;
    position: relative;
    top: 50px;
    left: 30px;

    
}


p{
    color: red;
    text-indent: 30px;
}