body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 100%;
    padding: 0px 15px;
    position: fixed;
    background-color: blueviolet;

}
nav p{
    border-top: 20x;
     font-size: 30px;
     font-family:'Times New Roman', Times, serif ;
     font-weight: bold;
     float: left;
     margin-left: 30px;
     color: white;
     /* text-transform:lowercase; */
     letter-spacing: 1.5px;
     cursor: pointer;
}
nav ul{
    text-align: right;
    margin-left: 30px;
}
nav li{
    
    display: inline-block;
    list-style: none;
    
}
nav li a{
    font-size: 20px;
    padding:0px 10px;
    color: white;
    text-decoration: none;
    
    
}