/* Make sure this comes after Bootstrap's CSS */
.custom-login-btn {
    background-color: #f8f9fa !important;
    border: 1px solid #343a40 !important ;
    border-radius: 5px;
    color: #343a40 !important; 
    padding: 10px 20px !important; 
    margin: 5px; 
    transition: background-color 0.3s ease-in-out !important;
  }
  
  .custom-login-btn:hover {
    background-color: #145a66 !important; 
    color: white !important;
    border-color: #145a66;
  }
  