
.custom-product-row {
    margin-left: -15px;
    margin-right: -15px;
}

.custom-product-col {
    margin-bottom: 30px; 
    padding-left: 15px;
    padding-right: 15px;
}


@media (max-width: 576px) {
    .custom-product-col {
        margin-bottom: 20px;
    }
}
