
.hero-carousel {
  height: 100vh;
  display: flex;
}

.hero-image {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}

.hero-carousel .carousel-caption {
  position: absolute;
  top: 30%;
  left: 18%;
}

.hero-carousel .carousel-caption h3 {
  color: rgb(0, 0, 0);
  font-size: 4.5rem;
}

.hero-carousel .carousel-caption p {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}


@media (max-width: 768px) {
  .hero-image {
    height: 60vh; 
  }

  .hero-carousel .carousel-caption {
    left: 8%; 
    top: 40%;
  }

  .hero-carousel .carousel-caption h3 {
    font-size: 3rem; 
  }

  .hero-carousel .carousel-caption p {
    font-size: 1.8rem; 
  }
}

@media (max-width: 576px) {
  .hero-image {
    height: 50vh; 
  }

  .hero-carousel .carousel-caption {
    left: 2%; 
    top: 50%;
    text-align: center; 
    width: 90%; 
  }

  .hero-carousel .carousel-caption h3 {
    font-size: 2.5rem; 
  }

  .hero-carousel .carousel-caption p {
    font-size: 1.5rem; 
  }
}
